.page-title {
    color: #7b1e1e;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.sidebar {
    width: 230px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #7b1e1e;
    color: #f3db9e;
    padding-top: 20px;
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.7);
}
.sidebar a {
    color: #f3db9e;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}
.sidebar a:hover {
    background-color: #5e1515;
}

.top-strip {
    margin-left: 230px;
    height: 80px;
    background-color: #f3db9e;
    color: #7b1e1e;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 40px;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.top-strip-login {
    height: 80px;
    background-color: #f3db9e;
    color: #7b1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    font-size: 40px;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.main-content {
    margin-left: 230px;
    padding: 0px 50px;
}

.btn-custom {
    background-color: #7b1e1e;
    color: #f3db9e;
    border: none;
}

.btn-custom-mini {
    background-color: #7b1e1e;
    color: #f3db9e;
    border: none;
    width: 40px;
}

.btn-custom:hover {
    background-color: #5e1616;
    color: #fff5d1;
}

.form-control:focus {
    border-color: #faebc7 !important;
    box-shadow: 0 0 5px #faebc7 !important;
}

.mini-input {
    width: 60px;
}

.instructions {
    font-size: 12px;
}

.instructions2 {
    font-size: 13px;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    font-size: 0.875rem;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
    color: #7b1e1e;
    background-color: #f3db9e;
    position: sticky;
    top: 0;
}

tr {
    border: 1px solid #ddd;
}

td {
    padding: 10px;
    vertical-align: middle;
}

#wine_table_body tr {
    background-color: #fdf4f4;
}

#wine_table_body tr:nth-child(2n) {
    background-color: #fdf6e5;
}

#wine_table_body tr:hover {
    background-color: #f4dada;
}

#wine_table_body tr:nth-child(2n):hover {
    background-color: #f3e7cf;
}

.selected-row {
    font-weight: bold;
    background-color: #e6bcbc !important;
}

.custom-alert {
    padding: 5px;
    padding-top: 3px;
}

h6 {
    color: #7b1e1e;
    font-weight: bold;
}

h5 {
    color: #7b1e1e;
}

h5 i {
    color: #e6c86b;
}

body {
    margin: 0;
    background-color: #fdf8f5;
    height: 100%;
}
