{% extends "layout.html" %}

{% block title %}
    HomePage
{% endblock %}

{% block main %}

    <div class="mb-4 border-bottom page-title">
        <h3>Welcome to the Wine Manager!</h3>
    </div>

    <p class="mb-4 text-muted">
        Wine Manager is your personal tool for building and managing your wine collection. Easily create a detailed catalog of wines, track your real-life inventory, and record your sales with just a few clicks. Whether you're managing a restaurant's wine cellar or your private collection, Wine Manager helps you stay organized and in control.
    </p>

    <div class="mb-4">
        <h5 class="mb-1"><i class="bi bi-pencil-square"></i> Register</h5>
        <p class="instructions2 text-muted">
            Add new wines to your catalog by entering key details such as wine name, brand, region, year, and more. Create a comprehensive list of wines that you can easily browse and manage.
        </p>
    </div>

    <div class="mb-4">
        <h5 class="mb-1"><i class="bi bi-book"></i> Catalog</h5>
        <p class="instructions2 text-muted">
            Browse and filter through your registered wines. Select a wine to view its details, add it to your inventory, or remove it from your catalog.
        </p>
    </div>

    <div class="mb-4">
        <h5 class="mb-1"><i class="bi bi-box-seam"></i> Inventory</h5>
        <p class="instructions2 text-muted">
            Keep track of your wine stock. Easily add bottles from your catalog to your inventory and register sales as they happen to maintain an accurate stock count.
        </p>
    </div>

    <div class="mb-4">
        <h5 class="mb-1"><i class="bi bi-cash-stack"></i> Sales</h5>
        <p class="instructions2 text-muted">
            Review a detailed sales history. Track when and which wines were sold, ensuring a complete and organized sales record.
        </p>
    </div>

    <div class="mb-4" style="padding-bottom: 40px;">
        <h5 class="mb-1"><i class="bi bi-graph-up"></i> Analytics</h5>
        <p class="instructions2 text-muted">
            Gain insights into your wine sales and inventory trends with visual analytics. Track sales performance and inventory fluctuations to make data-driven decisions.
        </p>
    </div>

{% endblock %}


